.site-wrap {
    background: $white;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    @include display(flex); //sticky footer
    @include flex-direction(column); //sticky footer
    min-height: 100%; //sticky footer
}








/*=============== Site Header ===============*/

.site-header-wrap {
    /* background-image:url(img/bg-site-intro.jpg);
  background-size:cover;
  background-position: center center;
  background-repeat:no-repeat;*/
    background-color: $blue;
}

.site-header {
    font-family: $header-font-family;
    .inner-wrap {
        padding-top: $baseline*2;
    }
}

.site-logo {
    display: inline-block;
    padding-top: em(20);
}

.nav-border {
    .inner-wrap {
        padding-top: 0;
        padding-bottom: 0;
    }
    @include mq(medium) {
        border-top: 1px solid $white;
    }
}

.sh-sticky-wrap {
    @include mq(large) {
        height: $nav-height;
        &.stuck {
            .site-nav-container {
                width: 100%;
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
            }
        }
    }
}

.site-nav-container {
    text-transform: uppercase;
    @include mq(medium) {
        width: 90%;

        float: left;
    }
    @include mq(large) {
        width: 75%;
    }
}

.sh-utility-nav {
    overflow: hidden;
    .social-wrap {
        width: 15em;
        display: none;
    }
    @include mq(medium) {
        text-align: right;
        float: right;
        .social-wrap {
            display: inline-block;
        }
    }
}

.sh-email {
    color: $white;

    text-decoration: none;
    padding-left: 1.5em;
    background-image: url('img/ico-email.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1em;
    &:hover {
        color: $yellow;
    }
    @include mq(medium) {
        font-size: $base-font-size;
    }
}

.site-search {}

//Site Header Icons
.sh-icons {
    float: right;
    @include mq(medium) {}
}

%sh-ico {
    background-repeat: no-repeat;
    background-position: center top;
    display: inline-block;
    padding-top: 1.2em;
    width: 2em;
    margin-left: 1em;
    text-align: center; //background-color:red;
    text-decoration: none;
    span {
        font-size: .75em;
        color: $white;
    }
    @include mq(medium) {
        //float:right;
    }
}

.sh-ph {
    margin: 0;
    i {
        font-style: normal; //display:none;
    }
    @include mq(medium) {
        font-size: $medium-font-size;
        i {
            //display:inline;
        }
    }
}

.sh-ico-search {
    background-image: url(img/ico-search.svg);
    @extend %sh-ico;
    &.sl-ds {
        display: none;
    }
    @include mq(medium) {
        display: inline-block;
        width: 10%;
        float: right;
        height: $nav-height;
        background-size: 2.5em;

        background-position: center;
        padding-top: 0;
        &.sl-ds {
            display: inline-block;
        }
        &.sl-mb {
            display: none;
        }
    }
}

.sh-ico-menu {
    background-image: url(img/ico-nav.svg);
    @extend %sh-ico;
    @include mq(medium) {
        display: none;
    }
}








/*=============== Site Intro ===============*/

.site-intro {
    text-align: center;
    .inner-wrap {
        padding-top: $baseline*20;
        padding-bottom: $baseline*20;
    }
}








/*=============== Site Content ===============*/

//Layout formatting is in patterns.scss
.site-content {
    @include flex(1 0 auto); //sticky footer
}

.site-content-primary {
  h2{
    font-size: $medium-font-size;
    font-weight: normal;
  }
}

.site-content-secondary {}







/*=============== cristian-head-module ===============*/

.cristian-head-module {
    .inner-wrap {
        @include mq(large) {
            padding-top: em(120);
        }
    }
}

.chm-fg {
    text-align: center;
    img {
        max-width: em(450);
        width: 100%;
    }
    @include mq(medium) {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        padding-right: em(15);
    }
    @include mq(large) {
        width: 40%;
        padding-right: em(70);
    }
}

.section-header {
    font-weight: normal;
    color: $blue;
    margin-bottom: 0;
    @include mq(medium) {
        margin-top: 0;
    }
}

.chm-content {
    .click-expand {
        margin-bottom: 0;
        &:first-child {
            border-bottom: 0;
        }
    }
    h3 {
        color: $lighter-gray;
        font-weight: normal;
        text-transform: uppercase;
        font-size: $base-font-size;
    }
    @include mq(medium) {
        width: 69%;
        display: inline-block;
        vertical-align: top;
    }
    @include mq(large) {
        width: 56%;
    }
}

.chm-subtext {
    color: $medium-gray;
    margin-top: 0;
}







/*=============== Education Module ===============*/

.education-module {}

.em-header {
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 2em;
    background-size: 1.5em;
    background-position: left center;
    background-image: url('img/ico-grad-cap-outline.png');
    background-repeat: no-repeat;
    color: $blue;
    @include mq(medium) {
        margin-bottom: $baseline*2;
    }
}

.em-degree-wrap {
    margin-bottom: $baseline;
    @include mq(medium) {
        margin-bottom: 0;
    }
}

.em-degree {
    @include mq(medium) {
        width: 60%;
        float: left;
    }
}

.em-text {}

.em-logo {
    max-width: em(400);
    @include mq(medium) {
        width: 40%;
        float: left;
        text-align: right;
    }
}

.em-year {
    border-bottom: 1px solid $lighter-gray;
    padding-bottom: $baseline;
    em {
        font-size: $small-font-size;
        font-family: $header-font-family;
        font-weight: bold;
        color: $medium-gray;
    }
    @include mq(medium) {
        border-bottom: none;
        display: inline-block;
        width: 30%;
        vertical-align: top;
        padding-right: $baseline*3;
    }
    @include mq(large) {
        width: 20%;
    }
    @include mq(xlarge) {
        width: 15%;
    }
}

.emd-title {
    h4 {
        font-size: $medium-font-size;
        margin-bottom: 0;
    }
    p {
        color: $medium-gray;
        margin: $baseline 0;
    }
    @include mq(medium) {
        display: inline-block;
        width: 68%;
        vertical-align: top;
        padding-left: $baseline*3;
        border-left: 3px solid $brown;
        position: relative;
        padding-bottom: $baseline*3;

        &:before {
            position: absolute;
            content: '';
            left: -0.6em;
            top: 0;
            width: 1em;
            height: 1em;
            background-color: $brown;
            border-radius: 50%;
        }
        h4 {
            margin-top: 0;
            font-size: $base-font-size;
        }

        p {
            font-size: $small-font-size;
            margin-top: 0;
        }
    }
    @include mq(large) {
        padding-bottom: $baseline*5;
        width: 78%;
        h4 {
            font-size: $medium-font-size;
        }
        p {
            font-size: $medium-font-size;
        }
    }
    @include mq(xlarge) {
        width: 82%;
        padding-left: $baseline*4;
    }
}






/*=============== TV Theory Module ===============*/

.tv-theory-module {}

.ttm-header {
    @extend .em-header;
    background-image: url('img/ico-research.png');
    background-size: 1.2em;
    padding-left: 1.5em;
}

.ttm-video-title {
    color: $medium-gray;
    text-align: center;
    display: block;
    font-family: $header-font-family;
    @include mq(large) {
        font-size: $base-font-size;
        width: 80%;
        margin: $baseline*1.5 auto 0;
    }
}

.ttm-text {
    p {
        color: $light-green;
        font-size: $small-font-size;
    }
    h3 {
        color: $blue;
        span {
            text-decoration: underline;
        }
    }
    @include mq(medium) {
        width: 69%;
        display: inline-block;
        vertical-align: top;
        padding-left: $baseline*3;
        h3 {
            margin-top: 0;
        }
    }
    @include mq(large) {
        width: 45%;
        padding-left: $baseline*7;
        h3 {
            font-size: $medium-font-size;
        }
    }
}

.ttm-subhead {
    font-family: $header-font-family;
    color: $medium-gray !important;
    font-style: italic;
}

.read-more {
    text-transform: uppercase;
    text-decoration: none;
    padding-right: em(30);
    background-image: url(img/ico-box-arrow.png);
    background-position: right center;
    background-size: .8em;
    background-repeat: no-repeat;
    float: right;
}

.ttm-video {
    @include mq(medium) {
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }
    @include mq(large) {
        width: 52%;
    }
}





/*=============== News Module ===============*/

.news-module {
    @include mq(medium) {
        padding-bottom: em(70);
    }
}

.nm-head {
    @extend .ttm-header;
    background-image: url(img/ico-news-outline.png);
    background-size: 1em;
}

.nm-article {
    background-color: $of-white;
    margin-bottom: $baseline*5;
    padding-bottom: $baseline*2;
    @include mq(medium) {
        padding-bottom: 0;
    }
}

.nm-text {
    padding-left: $baseline*3;
    padding-right: $baseline*3;
    em {
        color: $medium-gray;
        font-size: $small-font-size;
        font-family: $header-font-family;
    }
    p {
        font-size: $small-font-size;
        color: $light-green;
    }
    @include mq(medium) {
        padding-left: $baseline*6;
        padding-right: $baseline*5;
        width: 70%;
        float: left;
        p {
            font-size: $base-font-size;
        }
    }
}

.nm-title {
    color: $blue;
    @include mq(medium) {
        font-size: $medium-font-size;
        margin-bottom: 0;
    }
}

.nm-thumbnail {
    img {
        display: block;
    }
    @include mq(medium) {
        width: 30%;
        float: left;
    }
}

.nm-more-btn {
    float: right;
    font-size: $small-font-size;
    font-weight: normal;
}



/*=============== Page Styles ===============*/

.page-header {
    font-size: $xlarge-font-size;
    font-weight: normal;
}

.pm-row {
    margin-bottom: $baseline*6;
}

.pm-img {
    text-align: center;
    @include mq(medium) {
        display: inline-block;
        vertical-align: top;
        width: 25%;
        text-align: left;
        padding-right: em(30);
    }
}

.pm-info {
    @include mq(medium) {
        display: inline-block;
        vertical-align: top;
        width: 73%;
    }
}

.pm-title {
    font-size: $medium-font-size;
    font-weight: normal;
    margin-bottom: 0;
    @include mq(medium) {
        margin-top: 0;
    }
}

.pm-subtitle {
    font-size: $base-font-size;
    color: $light-green;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
}

.pm-text {
    color: $medium-gray;
    font-size: $small-font-size;
    @include mq(medium) {
        font-size: $base-font-size;
    }
}


/*=============== Publications module ===============*/

.pub-row {
    margin-bottom: $baseline*3;
}

.pub-date {
    color: $white;
    font-family: $header-font-family;
    .pb-day {
        background-color: $silver;
        border-right: 1px solid $white;
        padding: $baseline;
        font-size: $base-font-size;
        display: inline-block;
        vertical-align: top;
    }
    .pb-yr {
        background-color: $silver;
        padding: $baseline;
        font-size: $base-font-size;
        //font-style: italic;
         display: inline-block;
        vertical-align: top;
    }
    @include mq(medium){
      width: 15%;
      display: inline-block;
      vertical-align: top;
    }
}
.pub-title{
  color: $light-green;
  @include mq(medium){
      width: 83%;
      display: inline-block;
      vertical-align: top;
      padding-left: $baseline*3;
      p{
        margin-top: 0;

      }
    }
}

/*=============== Talks Module ===============*/
.talks-module{

}
.tkm-row {
    margin-bottom: $baseline*3;
}
.tkm-date{
  span{
    color: $white;
    font-size: $base-font-size;
    padding: $baseline;
    background-color:$green;
    font-style: italic;
    display: inline-block;
    font-family: $header-font-family; 
  }
  @include mq(medium){
      width: 15%;
      display: inline-block;
      vertical-align: top;
    }
}
.tkm-date-alt{
  @extend .tkm-date;
  span{background-color: $silver;}
}
.tkm-title{
  color: $light-green;
  @include mq(medium){
      width: 83%;
      display: inline-block;
      vertical-align: top;
      padding-left: $baseline*3;
      p{
        margin-top: 0;

      }
    }
}

/*=============== Site Footer ===============*/

.site-footer {
    background-color: $blue;
    text-align: center;
    color: $white;
}

.footer-menu {
    li {
        list-style-type: none;
        display: inline-block;
        vertical-align: top;
        margin-left: $baseline*1.2;
        text-transform: uppercase;

        a {
            color: $white;
            text-decoration: none;
            &:hover {
                color: $yellow;
            }
        }
    }
    @include mq(medium) {
        text-align: right;
        li {
            margin-right: $baseline*2;
            margin-left: 0;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    @include mq(xlarge) {
        li {
            margin-right: $baseline*5;
        }
    }
}

.footer-menu-wrap {
    @include mq(medium) {
        float: right;
        width: 70%;
    }
}

.footer-logo {
    @include mq(medium) {
        float: left;
        width: 30%;
    }
}

.sf-small {
    background-color: $medium-gray;
    text-align: center;
    .inner-wrap {
        padding-top: $baseline*2;
        padding-bottom: $baseline*2;
    }
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
    display: none;
}









/*=============== Search ===============*/

.search-table {
    display: table;
    width: 100%;
    float: right;
    padding: 0;
}

.search-row {
    display: table-row;
    width: 100%;
}

.search-cell1 {
    display: table-cell;
    padding-right: 0.4375em;
}

.search-cell2 {
    display: table-cell;
    width: 2.1875em;
    border: 0;
}

.search-text {
    font-size: .8em;
    width: 100%;
    height: 2.3em;
    border: 1px solid red;
    float: left;
    padding-left: .5em;
    margin-bottom: 0 !important;
}

.search-submit {
    width: 100%;
    height: 2.3em;
    border: 0;
    float: right;
    background: url(img/ico-search.svg) no-repeat center center !important;
}


@include mq(medium) {
    .site-search {
        width: 100%;
    }
    .search-text {
        height: 2.3em;
    }
    .search-submit {
        height: 2.3em;
    }
}

@include mq(large) {
    .search {}
    .search-text {}
}

.search-module {
    background-color: $yellow;
    height: 6em;
    margin-top: -6em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.47);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10000;
    @include transition (all .2s ease-in-out);
    &.active {
        margin-top: 0;
    }
    .inner-wrap {
        padding: 0.3em 1.5em 1em;
    }
}

.search-exit {
    float: right;
    margin-left: 10px;
    margin-bottom: 5px; //position:absolute;
    top: 0;
    right: 0;
}









/*=============== Read More ===============*/

.main-content {
    display: block;
    overflow: hidden;
    position: relative;
    @include mq(medium) {
        display: inline;
    }
}

@include mq(small) {
    .height {
        max-height: em(250);
        &:before {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
            bottom: 0;
            content: "";
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
    }
    .heightAuto {
        max-height: em(5000);
        &:before {
            display: none;
        }
    }
}

.link {
    display: block;
    text-align: center;
    font-weight: bold;
    color: $blue;
    padding-bottom: em(10);
    @include mq(medium) {
        display: none;
    }
}